@import "tailwindcss";

.nav_item:hover{
    background-color: rgb(216, 216, 216);
    border-radius: 4px;
    transition: ease-in-out;
}
.product_card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.sidebar_link:hover{
    background-color: rgb(178, 178, 178);
    transition: ease-in-out ;
}
.site_title{
    color: #e40f0a;
    font-size: 24px;
    font-weight: 600;
}

.base_text_color{
    color: rgb(103 58 183);
    
}

.add_form{
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.bg_btn{
    background-color: rgb(103 58 183);
}

.dark_text{
    color:  #4527a0;
}